/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/10/2018, 04:45:57 PM
    Author     : G039
*/

.bg-blue{
    background-color: #255f98!important;
}
.bg-blue-ligth{
    background-color: #255f98f2!important;
}